* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
    font-weight: bold;
}

body {
    min-height: 100vh;
    width: 100%;
    background: #EEECEB;
}

.footer {
    position: fixed;
    bottom: 0;
    background: #140B5C;
    width: 100%;
    bottom: 0;
    left: 0;
}

.footer::before {
    content: '';
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: #AFAFB6;
}

.footer .title {
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .title .content {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-size: 26px;
}

.footer .title h2 {
    font-weight: 600;
}

.footer .title ul {
    display: flex;
    gap: 10px;
}

.footer .title ul li {
    list-style: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.footer .title ul li:hover {
    background: #fff !important;
    color: inherit;
}

.footer .options {
    max-width: 1250px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 40px;
}

.footer .options .box {
    color: #fff;
}

.footer .options .box-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    position: relative;
}

.footer .options .box-title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 50px;
    background: #fff;
}

.footer .options li {
    list-style: none;
    margin: 6px 0;
}

.footer .options li a {
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
    font-size: 14px;
    transition: all 0.4s ease;
}

.footer .options li a:hover {
    opacity: 1;
    text-decoration: underline;
}

.footer .options .input-box {
    width: 100%;
    /* ocupa toda a largura disponível da linha */
    max-width: 300px;
    /* opcional, limita a largura se quiser */
}

.footer .options .input-box input {
    width: 100%;
    height: 40px;
    outline: none;
    border: 2px solid #AFAFB6;
    background: #140B5C;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
}


.footer .options .input-box input::placeholder {
    color: #AFAFB6;
}

.footer .options .input-box input[type="button"] {
    background: #fff;
    color: #140B5C;
    border: none;
    font-size: 16px;
    font-weight: 500;
    margin: 5px 0;
    cursor: pointer;
    transition: all 0.3s ease;
}


.footer .options .input-box input[type="button"]:hover {
    opacity: 0.9;
}

.footer .bottom-details {
    width: 100%;
    background: #0F0844;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer .bottom-details span,
.footer .bottom-details a {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    opacity: 0.8;
    text-decoration: none;
}

.footer .bottom-details a:hover {
    opacity: 1;
    text-decoration: underline;
}

.footer .bottom-details .policy a {
    margin-left: 10px;
}

@media (max-width: 700px) {
    .footer .options .input-box {
        width: 60%;
        /* ocupa menos espaço em telas menores */
        margin: 10px auto 0 auto;
        /* centraliza */
    }
}

@media (max-width: 520px) {
    .footer .options .input-box {
        width: 100%;
        /* ocupa toda a largura */
        margin: 10px 0 0 0;
    }
}